@import "~font-awesome/css/font-awesome.css";
@font-face {
  font-family: Roboto; /* Имя шрифта */
  src: url(assets/Roboto-Regular.ttf); /* Путь к файлу со шрифтом */
 }
body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #232C39;
  background-image: linear-gradient(rgba(255, 255, 255, .5) 10%, rgba(32, 32, 32, .7));
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}
