@import "~font-awesome/css/font-awesome.css";
@font-face {
  font-family: Roboto;
  src: url(assets/Roboto-Regular.ttf);
 }
body {
  position: relative;
  color: white;
  height: 100vh;
  font-family: Roboto, Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}

.scroll::-webkit-scrollbar {
  width: 5px;
}

.scroll::-webkit-scrollbar-thumb {
  background: lightgrey;
}

.scroll::-webkit-scrollbar {
  width: 5px;
}
